body {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: linear-gradient(#ae00d9, #bc5ad5, #0808fe, #1515d9, #a5a5b6, #929298);
}

.page {
    padding: 2% 8%;
}

.white-txt {
    color: #fff;
}

/* Hero Section */
#hero {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#hero-column-1 {
    width: 55%;
    display: block;
    margin: auto;
    /* vertical-align: middle; */
    margin-top: 1%;
}

#hero-column-2 {
    width: 40%;
    display: block;
    margin: auto;
}

#hero-image {
    clear: right;
    width: 300px;
}

#id-stats-display {
    clear: left;
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 1% 0 30%;
    opacity: 0;

    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.input {
    float: left;
    margin-top: 3%;
}

.input-row {
    height: 50px;
}

.input-col {
    float: left;
    width: 30%;
}

.submit-button {
    background-color: #5bff60;
    padding: 4%;
    border-radius: 20px;
    border-color: aliceblue;
    color: rgb(186, 77, 0);
    font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.output {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
    padding: 1% 2% 20% 1%;
    border: 1px solid rgb(255, 255, 255);
}

/* About Us */
#about-us {
    clear: left;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 0;

    /* position: relative;
    transform: translateX(1px);
    opacity: 0.5;
    transition: 2s all ease; */

    
}

.reveal.active {
    animation: reveal ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes reveal {
    0% {
        /* margin-right: -100%; */
        transform: translateX(20%);
        opacity: 0;
    }
    100% {
        /* margin-right: 0; */
        opacity: 1;
    }
}

.column {
    /* float: left; */
    width: 20%;
    height: 250px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.row {
    padding-top: 2%;
}

.name-column {
    width: 20%;
    display: block;
    margin: auto;
    padding-bottom: 2%;
}

#about-us h1 {
    padding-top: 1%;
}

#about-us p {
    font-size: 1.2rem;
}

/* Footer Section */
#footer {
    /* background-color: ; */
    margin-bottom: 3%;
}

.footer-col {
    float: left;
    width: 30%;
    margin-bottom: 1%;
}

.footer-col i {
    padding-right: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}